body {
  background: url("../image_z/back_2.png") repeat;
	font-family: Ubuntu, sans-serif;
}
/*
@font-face {
  font-family: "Ubuntu_l";
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), local('Ubuntu-L'), url("../fonts_z/Ubuntu_L.ttf") format("truetype");
}
*/
.logo {
  margin: 40px auto 5px;
  display: block;
  width: 600px;
}

.entity {
  width: 60%;
  margin: 0 auto 50px;
  display: block;
}

.entity h2 {
  text-align: center;
  font-size: 36px;
/*  font-family: "Ubuntu_l"; */
  color: #ffffee;
}

.entity a {
  color: #0a8a19;
}

.entity a:hover {
  color: #b2880a;
}

.prez {
  width: 426px;
  margin: 40px auto;
  display: block;
}

.text {
/*  font-family: "Ubuntu_r"; */
  font-size: 16px;
  text-align: center;
  margin: 15px 0;
}

div .first {
  margin-top: 50px;
}